@import 'mixin';

.section_contacts {
  padding: $standard-padding;
}

@media (max-width: 1024px) {
  .section_contacts {
    padding: $standard-padding-1024;
  }
}

@media (max-width: 768px) {
  .section_contacts {
    padding: $standard-padding-768;
    padding-bottom: 67px !important;
  }
}

@media (max-width: 420px) {
  .section_contacts {
    padding-bottom: 40px !important;
  }
}

.section_contacts__container {

  .section_contacts__title-box {
    padding-bottom: 6.438rem;
    width: calc(100% - 40px);
    padding: 0 20px 6.438rem 20px;

    .section_contacts__title {
      width: 100%;
      @extend %section-title;
      color: $color-font-gold;
      position: relative;

      &::after {
        @include tmp-underline(-1.563rem, 100%, 3px);
      }
    }
  }

  @media (max-width: 1024px) {
    .section_contacts__title-box {
      padding-bottom: 83px;
    }
  }

  @media (max-width: 768px) {
    .section_contacts__title-box {
      padding-bottom: 63px;
    }
  }

  .section_contacts__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 0 20px;
    //padding: 0 1.25rem;

    .section_contacts__address {
      .section_contacts__h3-box {
        padding-bottom: 3.125rem; //50px;

        h3 {
          @extend %regular-28;
          font-style: normal;
          font-weight: 500 !important;
          line-height: 33px !important;
        }

        @media (max-width: 768px) {
          h3 {
            font-size: 20px !important;
            line-height: 23px !important;
          }
        }

        @media (max-width: 420px) {
          h3 {
            font-size: 16px !important;
            line-height: 19px !important;
          }
        }
      }

      @media (max-width: 1024px) {
        .section_contacts__h3-box {
          padding-bottom: 35px;
        }
      }

      @media (max-width: 768px) {
        .section_contacts__h3-box {
          padding-bottom: 40px;
        }
      }

      .section_contacts__data {
        .section_contacts__text {
          p {
            padding-bottom: 1.563rem; //25px
          }

          @media (max-width: 1024px) {
            p {
              padding-bottom: 15px;
            }
          }

          @media (max-width: 768px) {
            p {
              font-weight: 300 !important;
              font-size: 18px !important;
              line-height: 21px !important;

              &:last-of-type {
                padding-bottom: 40px;
              }
            }
          }

          @media (max-width: 420px) {
            p {
              font-size: 16px !important;
              line-height: 19px !important;
            }
          }

          @extend %regular-22;
          font-weight: 300 !important;

          a {
            color: $color-bg-dark;

            &:hover {
              cursor: pointer;
              color: $color-font-gold;
              font-weight: 300;
              transition: 0;
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .section_contacts__address {
        padding-bottom: 1%;
      }
    }

    .section_contacts__map {
      max-width: 60rem;
      max-height: 38.75rem;
      //padding: 0 0.625rem 0 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 1300px) {
      .section_contacts__map {
        flex: 1 1;
        padding: 0 0 0 15px;
      }
    }

    @media (max-width: 1024px) {
      .section_contacts__map {
        max-width: 694px;
        max-height: 454px;
        padding: 0 0 0 16px;
      }
    }

    @media (max-width: 768px) {
      .section_contacts__map {
        flex: 0 0 100%;
        max-width: fit-content;
        padding: 0;
      }
    }

  }
}