@import "mixin";

.section_explore {
  @extend %dark-section;
  padding: $standard-padding;
  width: 100%;
}

@media (max-width: $view-1024) {
  .section_explore {
    padding: $standard-padding-1024;
  }
}

@media (max-width: $view-768) {
  .section_explore {
    padding: $standard-padding-768;
  }
}

.section_explore__container {
  .section_explore__wrapper {
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (max-width: 1420px) {
    .section_explore__wrapper {
      justify-content: space-around;
    }
  }

  .section_explore__text-block {
    .section_explore__title {
      @extend %section-title;
      position: relative;
      padding-bottom: 6.438rem;
      line-height: 112%;
      letter-spacing: 0.313rem;

      &::after {
        @include tmp-underline(4.4rem, 100%, 3px);
      }
    }

    @media (max-width: $view-1024) {
      .section_explore__title {
        padding-bottom: 83px;
      }
    }

    @media (max-width: $view-768) {
      .section_explore__title {
        padding-bottom: 63px;
      }
    }

    .section_explore__p {
      @extend %regular-22;
      padding-bottom: 25px;
      line-height: 175% !important; // 38px;
      max-width: 660px;

      & span {
        color: $color-font-gold;
      }
    }

    @media (max-width: 1420px) {
      .section_explore__p {
        max-width: 100%;
        padding-bottom: 0;
      }
    }

    @media (max-width: $view-1024) {
      .section_explore__p {
        &:last-of-type {
          display: none;
        }
      }
    }

    @media (max-width: $view-768) {
      .section_explore__p {
        display: none;
      }
    }
  }

  @media (max-width: 1420px) {
    .section_explore__text-block {
      width: 100%;
      padding: 0 0 60px 0;
    }
  }

  @media (max-width: $view-768) {
    .section_explore__text-block {
      padding: 0;
    }
  }

  .section_explore__picture {
    max-width: 720px;
    max-height: 700px;

    .section_explore__img-wrapper {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
