@import 'mixin';

.header {
  //border: 1px solid red;
  @extend %dark-section;
  width: 100%;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12.5rem;
    width: 100%;
    flex-wrap: wrap;

    .header__logo {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        filter: invert(60%) sepia(30%) saturate(386%) hue-rotate(356deg) brightness(84%) contrast(87%);
        transition: 1s;
      }

      &_img {
        background-image: url("/assets/svg/logo.svg");
        width: 49px;
        height: 26px;
      }

      &_text {
        @extend %forum-28;
        @extend %uppercase;
        margin-left: 1.313rem;
        line-height: 3.125rem;
      }

    }

    .header__navigation {
      @extend %regular-22;
      max-width: 720px;
      width: 100%;

      ul {
        line-height: 3.125rem;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
      }

      li {
        display: inline-block;
      }

      .header__anchor {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        @extend %interactive;
      }
    }
  }
}