@import 'mixin';

.section_tickets {
  @extend %dark-section;
  padding: $standard-padding;
  width: 100%;

  &__container {

    .section_tickets__wrapper-title {
      width: calc(100% - 40px);
      padding: 0 20px;
    }

    .section_tickets__title {
      @extend %section-title;
      position: relative;
      padding-bottom: 6.438rem;
      width: 100%;

      &::after {
        @include tmp-underline(5rem, 100%, 3px);
      }
    }

    @media (max-width: 1280px) {
      .section_tickets__title {
        padding-bottom: 83px;
      }
    }

    @media (max-width: 768px) {
      .section_tickets__title {
        padding-bottom: 63px;
      }
    }


    .section_tickets__row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      justify-content: space-between;
      /*       width: 100%;
      height: 100%; */
      width: calc(100% - 40px);
      padding: 0 20px;

      .section_tickets__img {
        max-height: 34.375rem;
        max-width: 45rem;
        width: calc(100% - 40px);
        padding: 0 20px;

        img {
          width: 100%;
        }

        @media (max-width: 1280px) {
          img {
            max-height: 440px;
            object-fit: cover;
          }
        }

        @media (max-width: 768px) {
          img {
            width: 100%;
          }
        }

        @media (max-width: 609px) {
          img {
            height: 100%;
            width: 100%;
          }
        }

      }

      @media (max-width: 1280px) {
        .section_tickets__img {
          /*           max-height: 440px;
          max-width: 700px; */
          width: 100%;
          padding: 0;
        }
      }

      @media (max-width: 768px) {
        .section_tickets__img {
          max-width: 444px;
          max-height: 340px;
        }
      }

      @media (max-width: 609px) {
        .section_tickets__img {
          max-height: 160px;
          margin-bottom: 40px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .section_tickets__calculation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex: 0 1 45%;

        .section_tickets__ticket-type {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 0 0 50%;
          min-height: 200px;

          .section_tickets__radio-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 15.625rem;

            @extend %tmp_radio_btn;

            .section_tickets__p {
              font-size: 1.375rem;
            }
          }

          @media (max-width: 1024px) {
            .section_tickets__radio-group {
              max-width: 30rem;
            }
          }

          .section_tickets__h3 {
            @extend %regular-28;
            font-size: 28px !important;
            font-weight: 700 !important;
          }

        }

        @media (max-width: 1280px) {
          .section_tickets__ticket-type {
            display: none;
          }
        }

        .section_tickets__amount {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          min-height: 25rem;
          //padding: 0 0.625rem 0 0;

          .section_tickets__h3 {
            @extend %regular-28;
            font-size: 28px !important;
            font-weight: 700 !important;
            line-height: 33px !important;
          }

          @media (max-width: 768px) {
            .section_tickets__h3 {
              padding-bottom: 39px;
            }
          }

          @media (max-width: 420px) {
            .section_tickets__h3 {
              font-size: 16px !important;
              line-height: 19px !important;
              align-self: center;
              padding-bottom: 20px;
            }
          }

          .section_tickets__number-box {
            padding: 2.188rem 0 0 0;

            .section_tickets__p {
              @extend %regular-22;
              font-size: 22px !important;
              font-weight: 100;
              padding: 0 0 15px 0;
            }

            @media (max-width: 1280px) {
              .section_tickets__p {
                padding-bottom: 10px;
              }
            }

            @media (max-width: 420px) {
              .section_tickets__p {
                padding-bottom: 15px;
                font-weight: 300 !important;
                font-size: 16px !important;
                line-height: 19px !important;
              }
            }


            .section_tickets__number {
              border: 1px solid $color-white;
              display: flex;
              justify-content: space-around;
              align-items: center;
              width: 9.375rem; //150px
              height: 3.125rem; //50px

              .section_tickets__btn {
                @extend %regular-32;
                width: 1.125rem;
                height: 2.375rem;
                border: 0;
                background: black;
                color: $color-white;

                &:hover {
                  cursor: pointer;
                }
              }

              .section_tickets__input-number {
                @extend %regular-22;
                font-size: 22px !important;
                border-width: 0;
                color: $color-white;
                background-color: $color-bg-dark;
                all: unset;
                -moz-appearance: textfield;
                text-align: center;
                height: 100%;

                &::-webkit-inner-spin-button {
                  display: none;
                }
              }
            }

            @media (max-width: 1280px) {
              .section_tickets__number {
                width: 175px;
                height: 50px;
              }
            }
          }

          @media (max-width: 1280px) {
            .section_tickets__number-box {
              padding-top: 29px;
            }
          }

          @media (max-width: 768px) {
            .section_tickets__number-box {
              padding: 0 0 25px 0;
            }
          }

          @media (max-width: 420px) {
            .section_tickets__number-box {
              padding: 0 0 20px 0;
            }
          }

          .section_tickets__total {
            @extend %regular-28;
            font-weight: 700;
            letter-spacing: 0.103rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .section_tickets__name {
              padding: 3.125rem 0;
            }

            @media (max-width: 1280px) {
              .section_tickets__name {
                padding: 25px 0 69px 0;
                font-weight: 700;
                line-height: 33px;
              }

              .section_tickets__value {
                padding: 25px 0 69px 0;
                font-weight: 700;
                line-height: 33px;
              }
            }

            @media (max-width: 768px) {
              .section_tickets__name {
                padding: 15px 0 40px 0;
                font-size: 28px !important;
                font-weight: 700;
                line-height: 33px;
                letter-spacing: 1.65px;
                padding-right: 10px;
              }

              .section_tickets__value {
                padding: 15px 0 40px 0;
                font-size: 28px !important;
                font-weight: 700;
                line-height: 33px;
                letter-spacing: 1.65px;
              }
            }

            @media (max-width: 420px) {
              .section_tickets__name {
                padding-top: 20px;
              }

              .section_tickets__value {
                padding-top: 20px;
              }
            }
          }

          .section_tickets__buy-btn {
            @extend %regular-28;
            font-weight: 400;
            width: 10.938rem; //175px;
            height: 3.125rem; //50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 1rem 0;
            background-color: $color-white;

            &:hover {
              cursor: pointer;
              background-color: $color-font-gold;
            }
          }

          @media (max-width: 768px) {
            .section_tickets__buy-btn {
              width: 175px;
              height: 50px;
              font-size: 22px !important;
            }
          }

          @media (max-width: 420px) {
            .section_tickets__buy-btn {
              font-weight: 300 !important;
              font-size: 16px !important;
              letter-spacing: 2px !important;
            }
          }
        }

        @media (max-width: 1280px) {
          .section_tickets__amount {
            align-items: flex-start;
            padding: 0 0 0 80px;
          }
        }

        @media (max-width: 866px) {
          .section_tickets__amount {
            padding: 0 0 0 60px;
          }
        }

      }

      @media (max-width: 1280px) {
        .section_tickets__calculation {
          justify-content: center;
        }
      }

      @media (max-width: 1090px) {
        .section_tickets__calculation {
          justify-content: flex-start;
        }
      }

    }

    @media (max-width: 609px) {
      .section_tickets__row {
        flex-direction: column;
        align-items: center;
      }
    }

  }
}

@media (max-width: 1024px) {
  .section_tickets {
    padding: $standard-padding-1024;
  }
}

@media (max-width: 768px) {
  .section_tickets {
    padding: $standard-padding-768;
  }
}