$font-forum: Forum, cursive;
$font-roboto: Roboto, sans-serif;
$standard-padding: 4.688rem 0; //75px
$standard-padding-1024: 60px 0;
$standard-padding-768: 40px 0;

$color-bg-dark: #030303;
$color-white: #ffffff;
$color-dark-red: #710707;
$color-font-gold: #9d8665;
$color-gray: #666666;

$view-1024: 1024px;
$view-768: 768px;
$view-420: 420px;
