@import 'mixin';

.section_visiting {
  padding: $standard-padding;
}

@media (max-width: 1024px) {
  .section_visiting {
    padding: $standard-padding-1024;
  }
}

@media (max-width: 768px) {
  .section_visiting {
    padding: $standard-padding-768;
  }
}

.section-visiting__container {

  .section-visiting__title-box {
    width: calc(100% - 40px);
    padding: 0 20px 6.438rem 20px;


    .section-visiting__underlined-title {
      @extend %section-title;
      color: $color-font-gold;
      position: relative;

      &::after {
        @include tmp-underline(-1.563rem, 100%, 0.188rem);
      }
    }
  }

  @media (max-width: 1024px) {
    .section-visiting__title-box {
      padding-bottom: 83px;
    }
  }

  .section-visiting__card-box {
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.813rem 3.75rem;

    .section-visiting__card {
      padding: 0 15px;
      margin: 0 -15px;

      a {
        display: block;

        img {
          width: 27.5rem;
          height: 17.813rem;
        }

        @media (max-width:1024px) {
          img {
            width: 330px;
            height: 215px;
          }
        }

        .section-visiting__card-txt {
          position: relative;

          h3 {
            @extend %forum-32;
            @extend %uppercase;
            color: black;
            padding-top: 1.563rem;
            padding-bottom: 1.313rem;
            @extend %interactive;

            &::after {
              @include tmp-underline(5.1rem, 70%, 0.125rem);
            }
          }

          @media (max-width:1024px) {
            h3 {
              letter-spacing: 3px !important;
            }
          }


          p {
            color: black;
            @extend %regular-22;
            padding-bottom: 0.625rem;
            @extend %interactive;
          }
        }

        @media (max-width:1024px) {
          .section-visiting__card-txt {
            max-width: 330px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .section-visiting__card-box {
      column-gap: 108px;
      justify-content: center;
    }
  }

  @media (max-width: 800px) {
    .section-visiting__card-box {
      column-gap: 56px;
    }
  }


}

/* @media (max-width: 1024px) {
  .section-visiting__card-box {
    gap: 3.813rem 2.75rem;
  }
} */