@import 'mixin';

.section_visiting {
  padding: $standard-padding;
}

.section-visiting__container {

  .section-visiting__title-box {
    padding-bottom: 6.438rem;
    padding-left: 1.25rem;

    .section-visiting__underlined-title {
      @extend %section-title;
      color: $color-font-gold;
      position: relative;

      &::after {
        @include tmp-underline(-1.563rem, 100%, 0.188rem);
      }
    }
  }

  .section-visiting__card-box {
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.813rem 3.75rem;

    .section-visiting__card {

      a {
        display: block;

        img {
          width: 27.5rem;
          height: 17.813rem;
        }

        .txt {
          position: relative;

          h3 {
            @extend %forum-32;
            @extend %uppercase;
            color: black;
            padding-top: 1.563rem;
            padding-bottom: 1.313rem;
            @extend %interactive;

            &::after {
              @include tmp-underline(5.1rem, 70%, 0.125rem);
            }
          }

          p {
            color: black;
            @extend %regular-22;
            padding-bottom: 0.625rem;
            @extend %interactive;

          }
        }
      }
    }
  }
}