@import 'mixin';


.section-welcome {
  padding: 4.688rem 0 0 0;
  @extend %dark-section;
  width: 100%;

  &__background-box {
    max-width: 1920px; //1920px 120rem
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .section-welcome__background {
      background-image: url("/assets/img/background.jpg");
      background-position: calc(100%), calc(100%);
      width: calc(1215/750*100%); ; 
      height: calc(64vw);
      background-repeat: no-repeat;
      background-size: contain;
      max-height: 750px;
      max-width: 1215px;

      -moz-background-size: cover; // Firefox 3.6
    }

    .section-welcome__container {
      position: relative;
      width: 100%;
      height: 100%;

      .section-welcome__text {
        position: absolute;
        padding-top: 10%;

        .section-welcome__title {
          @extend %section-title;
        }

        .section-welcome__p {
          @extend %regular-28;
          line-height: 2.063rem;
          margin-top: 1.625rem;
          margin-bottom: 4.75rem;
        }

        .section-welcome__button {
          @extend %regular-22;
          background: $color-dark-red;
          border-radius: 10px;
          display: flex;
          text-align: center;
          letter-spacing: 0.125rem;
          width: 22.5rem;
          height: 4.688rem;

          &:hover {
            background: $color-font-gold;
            transition: 1s;
          }

          a {
            line-height: 4.688rem;
            width: 100%;
          }
        }

      }

    }

  }

}