* {
  margin: 0;
  padding: 0;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p, .header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  font-size: 1.75rem;
  font-weight: 300;
}

.header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3, .header .header__container .header__logo_text {
  font-family: "Forum", cursive;
  font-size: 1.75rem;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-size: 2rem;
  letter-spacing: 0.313rem;
}

.header .header__container .header__logo_text, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__title, .section-visiting__container .section-visiting__title-box .section-visiting__underlined-title, .section_explore__container .section_explore__text-block .section_explore__title {
  font-size: 5rem;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.header, .section-welcome, .section_explore {
  background: #030303;
  color: #ffffff;
}

.header .header__container .header__navigation .header__anchor:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.header {
  width: 100%;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12.5rem;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__container .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__container .header__logo:hover {
  cursor: pointer;
  -webkit-filter: invert(60%) sepia(30%) saturate(386%) hue-rotate(356deg) brightness(84%) contrast(87%);
          filter: invert(60%) sepia(30%) saturate(386%) hue-rotate(356deg) brightness(84%) contrast(87%);
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header__container .header__logo_img {
  background-image: url("/assets/svg/logo.svg");
  width: 49px;
  height: 26px;
}

.header .header__container .header__logo_text {
  margin-left: 1.313rem;
  line-height: 3.125rem;
}

.header .header__container .header__navigation {
  max-width: 720px;
  width: 100%;
}

.header .header__container .header__navigation ul {
  line-height: 3.125rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__container .header__navigation li {
  display: inline-block;
}

.header .header__container .header__navigation .header__anchor {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p, .header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  font-size: 1.75rem;
  font-weight: 300;
}

.header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3, .header .header__container .header__logo_text {
  font-family: "Forum", cursive;
  font-size: 1.75rem;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-size: 2rem;
  letter-spacing: 0.313rem;
}

.header .header__container .header__logo_text, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__title, .section-visiting__container .section-visiting__title-box .section-visiting__underlined-title, .section_explore__container .section_explore__text-block .section_explore__title {
  font-size: 5rem;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.header, .section-welcome, .section_explore {
  background: #030303;
  color: #ffffff;
}

.header .header__container .header__navigation .header__anchor:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-welcome {
  padding: 4.688rem 0 0 0;
  width: 100%;
}

.section-welcome__background-box {
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-welcome__background-box .section-welcome__background {
  background-image: url("/assets/img/background.jpg");
  background-position: calc(100%), calc(100%);
  width: calc(1215/750*100%);
  height: calc(64vw);
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 750px;
  max-width: 1215px;
  -moz-background-size: cover;
}

.section-welcome__background-box .section-welcome__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text {
  position: absolute;
  padding-top: 10%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  line-height: 2.063rem;
  margin-top: 1.625rem;
  margin-bottom: 4.75rem;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button {
  background: #710707;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  letter-spacing: 0.125rem;
  width: 22.5rem;
  height: 4.688rem;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button:hover {
  background: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button a {
  line-height: 4.688rem;
  width: 100%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p, .header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  font-size: 1.75rem;
  font-weight: 300;
}

.header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3, .header .header__container .header__logo_text {
  font-family: "Forum", cursive;
  font-size: 1.75rem;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-size: 2rem;
  letter-spacing: 0.313rem;
}

.header .header__container .header__logo_text, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__title, .section-visiting__container .section-visiting__title-box .section-visiting__underlined-title, .section_explore__container .section_explore__text-block .section_explore__title {
  font-size: 5rem;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.header, .section-welcome, .section_explore {
  background: #030303;
  color: #ffffff;
}

.header .header__container .header__navigation .header__anchor:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.section_visiting {
  padding: 4.688rem 0;
}

.section-visiting__container .section-visiting__title-box {
  padding-bottom: 6.438rem;
}

.section-visiting__container .section-visiting__title-box .section-visiting__underlined-title {
  color: #9D8665;
  position: relative;
}

.section-visiting__container .section-visiting__title-box .section-visiting__underlined-title::after {
  content: "";
  position: absolute;
  bottom: -1.563rem;
  left: 0;
  width: 100%;
  height: 0.188rem;
  background-color: #710707;
}

.section-visiting__container .section-visiting__card-box {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4.813rem 3.75rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card a {
  display: block;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card img {
  width: 27.5rem;
  height: 17.813rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt {
  position: relative;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  color: black;
  padding-top: 1.563rem;
  padding-bottom: 1.313rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3::after {
  content: "";
  position: absolute;
  bottom: 5.1rem;
  left: 0;
  width: 70%;
  height: 0.125rem;
  background-color: #710707;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  color: black;
  padding-bottom: 0.625rem;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p, .header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  font-size: 1.75rem;
  font-weight: 300;
}

.header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3, .header .header__container .header__logo_text {
  font-family: "Forum", cursive;
  font-size: 1.75rem;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-size: 2rem;
  letter-spacing: 0.313rem;
}

.header .header__container .header__logo_text, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__title, .section-visiting__container .section-visiting__title-box .section-visiting__underlined-title, .section_explore__container .section_explore__text-block .section_explore__title {
  font-size: 5rem;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.header, .section-welcome, .section_explore {
  background: #030303;
  color: #ffffff;
}

.header .header__container .header__navigation .header__anchor:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p, .header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  font-size: 1.75rem;
  font-weight: 300;
}

.header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3, .header .header__container .header__logo_text {
  font-family: "Forum", cursive;
  font-size: 1.75rem;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-size: 2rem;
  letter-spacing: 0.313rem;
}

.header .header__container .header__logo_text, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__title, .section-visiting__container .section-visiting__title-box .section-visiting__underlined-title, .section_explore__container .section_explore__text-block .section_explore__title {
  font-size: 5rem;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.header, .section-welcome, .section_explore {
  background: #030303;
  color: #ffffff;
}

.header .header__container .header__navigation .header__anchor:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.section_explore {
  padding: 4.688rem 0;
  width: 100%;
}

.section_explore__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_explore__container .section_explore__text-block .section_explore__title {
  position: relative;
  padding-bottom: 6.438rem;
  line-height: 112%;
  letter-spacing: 0.313rem;
}

.section_explore__container .section_explore__text-block .section_explore__title::after {
  content: "";
  position: absolute;
  bottom: 4.4rem;
  left: 0;
  width: 100%;
  height: 0.188rem;
  background-color: #710707;
}

.section_explore__container .section_explore__text-block .section_explore__p {
  padding-bottom: 1.563rem;
  line-height: 175%;
  max-width: 660px;
}

.section_explore__container .section_explore__text-block .section_explore__p span {
  color: #9D8665;
}

.section_explore__container .section_explore__picture img {
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 700px;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p, .header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  font-size: 1.75rem;
  font-weight: 300;
}

.header .header__container .header__navigation, .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p, .section_explore__container .section_explore__text-block .section_explore__p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3, .header .header__container .header__logo_text {
  font-family: "Forum", cursive;
  font-size: 1.75rem;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-size: 2rem;
  letter-spacing: 0.313rem;
}

.header .header__container .header__logo_text, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__title, .section-visiting__container .section-visiting__title-box .section-visiting__underlined-title, .section_explore__container .section_explore__text-block .section_explore__title {
  font-size: 5rem;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.header, .section-welcome, .section_explore {
  background: #030303;
  color: #ffffff;
}

.header .header__container .header__navigation .header__anchor:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover, .section-visiting__container .section-visiting__card-box .section-visiting__card .txt p:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.section_video {
  padding: 5.625rem 0 4.688rem 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  border: 1px solid red;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  /* border: solid blue 1px; */
}
/*# sourceMappingURL=index.css.map */