* {
  margin: 0;
  padding: 0;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-family: "Forum", cursive;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 0.313rem;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover {
  color: #9D8665;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.font-forum {
  font-family: "Forum", cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.font-roboto {
  font-family: Roboto, sans-serif;
  /* line-height: 100%; */
}

.light-text {
  color: #ffffff;
}

.section-title {
  font-size: 300%;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.dark-section {
  background: #030303;
  color: #ffffff;
}

.interactive:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.header {
  border: 1px solid red;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12.5rem;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__container .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__container .header__logo:hover {
  cursor: pointer;
  -webkit-filter: invert(60%) sepia(30%) saturate(386%) hue-rotate(356deg) brightness(84%) contrast(87%);
          filter: invert(60%) sepia(30%) saturate(386%) hue-rotate(356deg) brightness(84%) contrast(87%);
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header__container .header__logo .header__logo_img {
  background-image: url("/assets/svg/logo.svg");
  width: 49px;
  height: 26px;
}

.header .header__container .header__logo .header__logo_text {
  font-size: 1.75rem;
  margin-left: 1.313rem;
}

.header .header__container .header__navigation {
  max-width: 720px;
  width: 100%;
  font-weight: 100;
  font-size: 1.375rem;
  line-height: 3.125rem;
}

.header .header__container .header__navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__container .header__navigation li {
  display: inline-block;
}

.header .header__container .header__navigation a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-family: "Forum", cursive;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 0.313rem;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover {
  color: #9D8665;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.font-forum {
  font-family: "Forum", cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.font-roboto {
  font-family: Roboto, sans-serif;
  /* line-height: 100%; */
}

.light-text {
  color: #ffffff;
}

.section-title {
  font-size: 300%;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.dark-section {
  background: #030303;
  color: #ffffff;
}

.interactive:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.main__section_welcome .section-welcome__background-box {
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__section_welcome .section-welcome__background-box .section-welcome__background {
  background-image: url("/assets/img/background.jpg");
  background-position: calc(100%), calc(100%);
  width: calc(84vw);
  height: calc(64vw);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1920px;
  max-height: 750px;
  -moz-background-size: cover;
}

.main__section_welcome .section-welcome__background-box .section-welcome__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.main__section_welcome .section-welcome__background-box .section-welcome__container .section-welcome__text {
  position: absolute;
  padding-top: 10%;
}

.main__section_welcome .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button {
  font-weight: 100;
  font-size: 1.375rem;
  background: #710707;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  letter-spacing: 0.125rem;
  width: 22.5rem;
  height: 4.688rem;
}

.main__section_welcome .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button a {
  line-height: 4.688rem;
  width: 100%;
}

.main__section_welcome .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__button:hover {
  background: #9d8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.main__section_welcome .section-welcome__background-box .section-welcome__container .section-welcome__text .section-welcome__p {
  margin-top: 1.625rem;
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 4.75rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-family: "Forum", cursive;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 0.313rem;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover {
  color: #9D8665;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.font-forum {
  font-family: "Forum", cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.font-roboto {
  font-family: Roboto, sans-serif;
  /* line-height: 100%; */
}

.light-text {
  color: #ffffff;
}

.section-title {
  font-size: 300%;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.dark-section {
  background: #030303;
  color: #ffffff;
}

.interactive:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-visiting__container .section-visiting__title-box .section-visiting__underline-title::after, .section-visiting__container .section-visiting__card-box .section-visiting__card a::after {
  content: "";
  position: absolute;
  bottom: -1.563rem;
  left: 0;
  width: 100%;
  height: 0.188rem;
  background-color: #710707;
}

.section-visiting__container .section-visiting__title-box {
  padding-top: 4.688rem;
  padding-bottom: 6.438rem;
}

.section-visiting__container .section-visiting__title-box .section-visiting__underline-title {
  color: #9D8665;
  position: relative;
}

.section-visiting__container .section-visiting__card-box {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13.438rem 3.75rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card a {
  display: block;
  width: 27.5rem;
  height: 17.813rem;
  position: relative;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card a::after {
  bottom: -4.313rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card img {
  width: 27.5rem;
  height: 17.813rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt {
  position: absolute;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  padding-top: 1.563rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  padding-top: 0.625rem;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.344rem;
  letter-spacing: 5%;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt p {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 1.625rem;
  font-style: normal;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  font-family: "Forum", cursive;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 0.313rem;
  font-weight: 400;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3:hover {
  color: #9D8665;
}

.section-visiting__container .section-visiting__card-box .section-visiting__card .txt h3 {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.font-forum {
  font-family: "Forum", cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.font-roboto {
  font-family: Roboto, sans-serif;
  /* line-height: 100%; */
}

.light-text {
  color: #ffffff;
}

.section-title {
  font-size: 300%;
  margin: 0;
  font-family: Forum, cursive;
  font-style: normal;
  line-height: 112%;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

.dark-section {
  background: #030303;
  color: #ffffff;
}

.interactive:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 1s;
  transition: 1s;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  border: 1px solid red;
}

.section {
  padding: 75px, 0, 75px, 0;
}

.main__section_theme_video {
  padding-top: 90px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  /* border: solid blue 1px; */
}
/*# sourceMappingURL=index.css.map */