@import 'mixin';

.main__section_welcome {
  .section-welcome__background-box {
    max-width: 1920px; //1920px 120rem
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .section-welcome__background {
      background-image: url("/assets/img/background.jpg");
      background-position: calc(100%), calc(100%);
      width: calc(84vw);
      height: calc(64vw);
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 1920px;
      max-height: 750px;
      -moz-background-size: cover; // Firefox 3.6
    }

    .section-welcome__container {
      position: relative;
      width: 100%;
      height: 100%;

      .section-welcome__text {
        position: absolute;
        padding-top: 10%;

        .section-welcome__button {
          font-weight: 100;
          font-size: 1.375rem;
          background: #710707;
          border-radius: 10px;
          display: flex;
          text-align: center;
          letter-spacing: 0.125rem;
          width: 22.5rem;
          height: 4.688rem;

          a {
            line-height: 4.688rem;
            width: 100%;
          }
        }

        .section-welcome__button:hover {
          background: #9d8665;
          transition: 1s;
        }

        .section-welcome__p {
          margin-top: 1.625rem;
          font-size: 1.75rem;
          font-weight: 300;
          margin-bottom: 4.75rem;
        }

      }

    }

  }

}